<h1>New Track</h1>
<form action="<%= tracks_url %>" method="post">
  <%= auth_token %>
  Name
    <input type="text" name="track[name]">
  <br>
  Album
  <select name="track[album_id]">
    <% @albums.each do |album| %>
      <option value="<%= album.id %>"><%= album.title %></option>
    <% end %>
  </select>
  <br>
  Bonus track?
    <input type="radio" name="track[bonus]" value="true">Yes
    <input type="radio" name="track[bonus]" value="false">No
  <br>
  <button method="submit">Add Track</button>
</form>
