<form action="<%= session_url %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button value="submit">Log Out</button>
  </form>
<h1> <%= @user.email %>
<p> current user logged in </p>
